<p id="notice"><%= notice %></p>

<h1>Blog Statistics</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Number Of Crawled</th>
      <th>Indexed Links</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.domain %></td>
        <td><%= blog.num_of_crawled %></td>
        <td><%= link_to blog.links_count, blog_links_path(blog) %></td>
      </tr>
    <% end %>
  </tbody>
</table>