<header class="navbar navbar-fixed-top" id="top" role="banner">
  <div class="container">


    <%= form_tag search_path, method: 'get', class: 'navbar-form navbar-left', role: 'search' do %>
      <div class="form-group">
        <div class="input-group">

          <%= text_field_tag :q, params[:q], class: 'form-control' %>

          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>

        </div>
      </div>
    <% end %>

    <nav class="collapse navbar-collapse bs-navbar-collapse">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to "Keluar", destroy_user_session_path, :method => :delete %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>